@model Proyecto_Workspaces.Models.Salas_Reuniones

@{
    ViewBag.Title = "Detalle";
}

<h2 class="" style="color: #2B4552;">Detalles de la Sala de Reunión @Html.DisplayFor(model => model.SalasNombre)</h2>

<div class="card shadow-sm" style="background-color: #FFFFFF; border: 1px solid #97A3AA; border-radius: 10px;">
    <div class="card-header text-light" style="background-color: #566885;">
        <h4 class="text-light">Información de la Sala</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3" style="color: #2B4552;">Nombre de la Sala</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.SalasNombre)</dd>

            <dt class="col-sm-3" style="color: #2B4552;">Capacidad</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Capacidad)</dd>

            <dt class="col-sm-3" style="color: #2B4552;">Hora de Apertura</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Hora_Apertura)</dd>

            <dt class="col-sm-3" style="color: #2B4552;">Hora de Clausura</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Hora_Clausura)</dd>

            <dt class="col-sm-3" style="color: #2B4552;">Ubicación</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Ubicacion)</dd>

            <dt class="col-sm-3" style="color: #2B4552;">Equipos Disponibles</dt>
            <dd class="col-sm-9">
                @if (Model.Equipos.Count != 0)
                {
                    <ul style="list-style-type: disc; padding-left: 20px;">
                        @foreach (var item in Model.Equipos)
                        {
                            <li>@Html.DisplayFor(modelItem => item.Nombre)</li>
                        }
                    </ul>
                }
                else
                {
                    <span>No hay equipos disponibles.</span>
                }
            </dd>

            <dt class="col-sm-3" style="color: #2B4552;">Estado</dt>
            <dd class="col-sm-9">
                @if (Model.Activo)
                {
                    <span style="color: green;">Sala Activa</span>
                }
                else
                {
                    <span style="color: red;">Sala No Disponible</span>
                }
            </dd>
        </dl>
    </div>
    <div class="card-footer text-end">
        @Html.ActionLink("Editar", "Editar", new { id = Model.SalasId }, new { @class = "btn", @style = "background-color: #97A3AA; color: #2B4552;" })
        @Html.ActionLink("Volver al Listado", "Index", new { area = "" }, new { @class = "btn", @style = "background-color: #BEBAB7; color: #2B4552; border-radius: 5px;" })
    </div>
</div>
