@model Proyecto_Workspaces.Models.Salas_Reuniones

@{
    ViewBag.Title = "Detalle";
}

<h2 class="text-center">Detalles de la sala de Reunion @Html.DisplayFor(model => model.SalasNombre)</h2>

<div>
    <hr />
    <div class="d-flex justify-content-center">

        <div class="row">
            <div class="col d-flex justify-content-end">
                <dl>
                    <dt>
                        Nombre de la sala
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SalasNombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Capacidad)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Capacidad)
                    </dd>

                    <dt>
                        Hora de Apertura
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Hora_Apertura)
                    </dd>
                </dl>
            </div>
            <div class="col">
                <dl>
                    <dt>
                        Hora de Clausura
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Hora_Clausura)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ubicacion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ubicacion)
                    </dd>

                    <dt>
                        Equipo disponible:
                    </dt>

                    <dd>
                        @if (Model.Equipos.Count != 0)
                        {
                            foreach (var item in Model.Equipos)
                            {
                                @Html.DisplayFor(modelItem => item.Nombre)
                            }
                        }
                        else
                        {
                            @Html.Raw("No hay equipos disponibles.")
                        }
                    </dd>
                </dl>
            </div>
            <br />
            <div class="d-flex justify-content-center">
                <dl>
                    <dt>
                        Esta activa?
                    </dt>
                    @if (Model.Activo)
                    {
                        <dd>
                            Sala activa
                        </dd>
                    }
                    else
                    {
                        <dd>
                            Sala no disponible
                        </dd>
                    }

                </dl>
            </div>
        </div>
    </div>
    <div class="text-center">
        @Html.ActionLink("Editar", "Editar", new { id = Model.SalasId }, new { @class = "btn", @style = "background-color: #97A3AA; color: #2B4552;" })
        @Html.ActionLink("Volver al listado", "Index", new { area = "" }, new { @class = "btn", @style = "background-color: #BEBAB7; color: #2B4552; border-radius: 5px;" })
    </div>

