@model IEnumerable<Proyecto_Workspaces.Models.Equipo>

@{
    ViewBag.Title = "Index";
}


<br />
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Listado de Equipos</h4>
        @Html.ActionLink("Agregar Equipo", "Crear", new { area = "" }, new { @class = "btn", @style = "background-color: #557788; color: #EEEAE7;" })
    </div>
    @if (Model.Count() != 0)
    {
        int cantidad = 0;
        foreach (var item in Model)
        {
            string disponbilidad = "";
            if (item.Salas.Count != 0)
            {
                disponbilidad = "Ya esta registrado en una sala";
            }
            else
            {
                disponbilidad = "No esta registrado en ninguna sala";
            }

            if (cantidad == 0 || (cantidad % 3 == 0))
            {
                @Html.Raw("<div class='row'>")
            }
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm" style="background-color: #f7f6f5; border: 1px solid #97A3AA; border-radius: 10px; ">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #2B4552;">
                            <i class="fas fa-door-open"></i> @Html.DisplayFor(modelItem => item.Nombre)
                        </h5>
                        <p class="card-text">
                            <strong>Serie:</strong> @Html.DisplayFor(modelItem => item.Serie)<br>
                        </p>
                        <div>
                            <span class="badge" style="background-color: #BEBAB7; color: #557788; ">@disponbilidad</span>
                            <br />
                            <br />

                            @Html.ActionLink("Detalles", "Detalles", new { id = item.EquipoId }, new { @class = "btn btn-sm", @style = "background-color: #8c9ebb; color: #2B4552;" })
                            @Html.ActionLink("Editar", "Editar", new { id = item.EquipoId }, new { @class = "btn btn-sm", @style = "background-color: #97A3AA; color: #2B4552;" })
                        </div>
                    </div>
                </div>
            </div>
            if ((cantidad + 1) % 3 == 0)
            {
                @Html.Raw("</div>")
            }
            cantidad++;
        }
    }
    else
    {
        <div class="row">
            <h3 class="text-center">No hay equipos disponibles</h3>
        </div>
    }
</div>
