@model IEnumerable<Proyecto_Workspaces.Models.Reserva>

@{
    ViewBag.Title = "VerReservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" />
}

<h2>Ver Reservas</h2>

@if (Model != null)
{
    <table class="table table-hover table-bordered table-striped" id="tablaReservas">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Sala.SalasNombre)</th>
                <th>@Html.DisplayNameFor(model => model.Fecha)</th>
                <th>@Html.DisplayNameFor(model => model.FechaReservacion)</th>
                <th>@Html.DisplayNameFor(model => model.FechaFinalizacion)</th>
                <th>@Html.DisplayNameFor(model => model.Modificada)</th>
                <th>@Html.DisplayNameFor(model => model.Estado.EstadoNombre)</th>
                @if (User.IsInRole("Administrador"))
                {
                    <th>Acciones</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Sala.SalasNombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaReservacion)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaFinalizacion)</td>
                    <td>@Html.DisplayFor(modelItem => item.Modificada)</td>
                    <td>@Html.DisplayFor(modelItem => item.Estado.EstadoNombre)</td>
                    @if (User.IsInRole("Administrador"))
                    {
                        <td>
                            @Html.ActionLink("Modificar", "ModificarReserva", new { id = item.ReservaId }, new { @class = "btn btn-success btn-sm", @style = "background-color: #8c9ebb; color: #2B4552;" })
                            <button onclick="cancelar(@item.ReservaId, this, event)" class="btn btn-danger btn-sm" style="width: 70px;">Cancelar</button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="row">
        <h3 class="text-center">No hay reservas</h3>
    </div>
}

@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Scripts/DataTableReservas.js"></script>
    <script src="~/Scripts/CancelarReservaciones.js"></script>

}
